.main-collection {
    // background-image: url("../../Assets/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(165deg,#fcc696 0%,#f69fd4 100%);

    
}

.main-mint {
    .inner-content {
           
        .modal-content {
            border-radius: 20px;
            .for-padding {
                padding: 0 50px;
            }
            .form-group {
                input {
                    background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 10px;
        height: 60px;
        padding: 15px 110px;

                }
            }
            .btn-common {
                width: 100%;
            }
        }
        .inner-tile {
            background: #FFFFFF;
            border-radius: 20px;
            border: 1px solid #D5D5D5;
            padding: 10px;
            margin-bottom: 10px;

            .btn {
                background: #FFFFFF;
                border: 1px solid #D4D4D4;
                box-sizing: border-box;
                border-radius: 10px;
                height: 60px;
color: #000;
    border-radius: 10px;
    width: 100%;
    text-align: left;
            }

            .dropdown {
                margin-bottom: 20px;
            }
            .dropdown-toggle::after {
                display: inline-block;
                width: 0;
                position: absolute;
                height: 0;
                margin-left: .255em;
                vertical-align: .255em;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
                right: 10px;
                top: 26px;
            }
            .dropdown-menu.show {
                width: 100%;
                display: block;
            }

            h6 {
                margin-top: 10px;
            }
        }
    }
}